/* common */

* {
    font-family:"arial","helvetica",sans-serif;
}

a {
    border: 0;
    color: #000;
    text-decoration: none;
}

img {
    border: 0;
}

body {
    background: #D14433;
}

.wrapper {
    margin: 0 auto 0;
    width: 800px;
    padding-left: 30px;
    padding-right: 30px;
}

/* header */

#header h1 {
    color: white;
    margin: 10px;
    font-size: 300%;
    font-weight: bold;
    text-shadow: 0px 0px 30px #FF7C00;

}

/* content */

#main {
    background: white;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 10px 30px;
}

/* tom */

#editor {
   clear: both;
}

/* top left */
#left {
    float: left;
    width: 450px;
    position: relative;
    margin-bottom: 30px;
}

#user-find {
    padding-bottom: 10px;
}

#user-find input {
    font-size: 120%;
}

#collage-container {
    width: 350px;
    height: 350px;
    positoin: relative;
    overflow: hidden;
}

#user-image {
    width: 350px;
    height: 350px;
    position: absolute;
    background: gray;
    z-index: 100;
}

#topping-image {
    z-index: 110;
    position: relative;
    height: 130px;
    left: 110px;
    top: 20px;
}

#submit form input{
    margin: 10px;
    font-size: 400%;
}

/* top right */

#right {
    float: right;
    width: 300px;
    position: relative;
    margin-bottom: 30px;
}

#search-form {
    padding-bottom: 10px;
}

#image-search input {
    font-size: 110%;
}

.image-item img{
    margin: 6px;
}

.image-item.selected img{
    border: 4px solid red;
    margin: 2px;
}

.image-item img {
    max-width: 70px;
    max-height: 70px;
    cursor: pointer;
}

/* bottom */

#history {
    clear: both;
}

.history-entry img {
    max-width: 96px;
    max-height: 96px;
}